@charset "UTF-8";

h1 {
    color: #4EA654;
    text-align: center;
    padding: 20px 0;
    font-size: 4.8rem;
    background-color: #0D0D0D;
}

.listaCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    list-style-type: none;
    background-color: #DC0A2D;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemCard span {
    font-size: 1.8rem;
}

.itemCard__conteudo {
    line-height: 2;
}

.itemCard__conteudo h2{
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}

.itemCard__conteudo p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 3px white;

}

.tipo {
    display: block;
    padding: 0 20px;
    box-shadow: inset 0 0 2px black;
    border-radius: 51px;
    font-size: 1.3rem !important;
    box-shadow: 1px 1px 1px 2px #000000;
}

.tipo:nth-child(2) {
    margin-left: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.itemCard__icones .icone {
    font-size: 2rem;
    border-radius: 50%;
}