.listaTypes{
    display: block;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #29A5F2;
    border: 2px solid #0D0D0D;
}

.listaTypes .tipo{
    display: block;
    padding: 10px 20px;
    box-shadow: inset 0 0 2px #0D0D0D;
    border-radius: 51px;
    font-size: 1.3rem !important;
    box-shadow: 1px 1px 1px 2px #0D0D0D;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
}