* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #DC0A2D;
}


/* Color Types */

.dark {
	background-image: linear-gradient(#707070 50%, #707070 50%);
	color: white !important;
	text-shadow: none;
}

.steel {
	background-color: #5195A8;
}

.fire {
	background-color: #F2994B;
}

.grass {
	background-color: #5FBD67;
}

.electric {
	background-color: #F8D65F;
}

.water{
	background-color: #59A8E0;
}

.ice {
	background-color: #91DCD7;
}

.ground {
	background-image: linear-gradient(to top, #f7de3f 50%, #ab9842 50%);
}

.rock {
	background-color: #D1C68E;
}

.fairy {
	background-color: #EC8EE6;
}

.poison {
	background-color: #C066D9;
}

.bug {
	background-color: #A0BF30;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #FC9189;
}

.flying {
	background-image: linear-gradient(to bottom, #3dc7ef 50%, #bdb9b8 50%);
}

.fighting {
	background-color: #D9435F;
}

.normal {
	color: white !important;
	background-color: #5C5565;
	text-shadow: none;
}